@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage{
    background-image: url('/ca1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgI{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}